 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="image/h1.png" class="d-block w-100" width="100%" height="100%" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="image/h2.png" class="d-block w-100" width="100%" height="100%" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="image/h3.png" class="d-block w-100" width="100%" height="100%" alt="...">
                        </div>
                    </div>
                </div>