   <nav class="navbar navbar-expand-lg navbar-light bg-warning sticky-top shadow-sm ">
        <a class="navbar-brand" href="#"><b><i>Express Js Project Practice</i></b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" href="/"><i><b>Home</b></i>
                     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" class="" href="/weather"><i><b>Weather Report</b></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" class="" href="/about"><i><b>About</b></i></a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" class="" href="/typing_speed"><i><b>Typing Speed</b></i></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" class="" href="/cricket_score"><i><b>Cricket Score</b></i></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" class="" href="/bmi_calculation"><i><b>BMI Calculation</b></i></a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link btn btn mx-1" type="button" class="" href="/love_calculator"><i><b>Love Calculator</b></i></a>
                </li>
            </ul>

        </div>
    </nav>